<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentificationManagement" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58413/AuthentificationManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentificationManagement"
                contract="AService.IAuthentificationManagement" name="BasicHttpBinding_IAuthentificationManagement" />
        </client>
    </system.serviceModel>
</configuration>